<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я Павел Уланов</h1>
<h3>
  Немного о себе, достаточно скромно.
</h3>
<img 
  src="{% static 'img/author.png' %}"
  class="d-inline-block align-top"
  alt="">
<hr>
<p>
  Мой аккаут на <a href='https://github.com/ulanovPS'>GitHub</a>
  Имею специальность АСУ (Автоматзированные Системы Управленя), 
  другми словами IT-шникbase.
  <br>
  Работал по специальност достаточно долго, все устраивало, 
  кроме на тот момент заработных плат для программистов.
  Покинул данную сферу 10 лет назад, после долгих лет решил 
  возобновть свои навыки программирования. 
  <br>
  Для это поступил на курс python, так как на данный момент 
  это один из самых востребованных языков программирования. 
</p>
{% endblock %}